{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Edit user </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Admin-Page</a></li>
            <li class="breadcrumb-item" aria-current="page">Edit user</li>
            <li class="breadcrumb-item active" aria-current="page">{{user.id}}</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Edit</h4>
              <p class="card-description"> Edit account informations </p>
              <form class="forms-sample">
                <div class="form-group">
                  <label for="exampleInputUsername1">Username (current:{{user.username}})</label>
                  <input name="username" type="text" class="form-control" id="exampleInputUsername1" placeholder="Username">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address (current:{{user.email}})</label>
                  <input name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button name="update" type="submit" class="btn btn-primary me-2">Update</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-6 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Delete</h4>
                    <p class="card-description"> Delete account or sub </p>
                    <form class="forms-sample">
                        <div class="form-group">
                            <button name="delete_user" type="submit" class="btn btn-danger me-2">Delete User</button>
                            <br><br>
                            <button name="delete_user_subscriptions" type="submit" class="btn btn-danger me-2">Delete Sub</button>
                            <br><br>
                            <button name="reset_user_hwid" type="submit" class="btn btn-warning me-2">Reset User Hwid</button>
                        <div class="form-group">
                    </form>
                </div>
            </div>
        </div>
        </div>
        </div>


{% endblock %}