{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="main-panel">
    <div class="content-wrapper">
      <div class="page-header">
        <h3 class="page-title"> Generate keys </h3>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Admin Area</a></li>
            <li class="breadcrumb-item active" aria-current="page">Generate keys</li>
          </ol>
        </nav>
      </div>
      <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Lite version</h4>
              <p class="card-description"> Generate keys for Lite version </p>
              <form class="forms-sample" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputUsername1">Key Prefix</label>
                  <input type="text" class="form-control" id="exampleInputUsername1" placeholder="Prefix. Example: DAY, WEEK ..." name="lite_prefix">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Key time</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Time (DAYS) of sub*" name="key_lite">
                </div>
                <button name="gen_lite" type="submit" class="btn btn-primary me-2">Generate key</button>
              </form>
            </div>
          </div>
        </div>
       </div>
       <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">User Tab</h4>
            <p class="card-description"> See all users
            </p>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Key</th>
                    <th>Time</th>
                    <th>Generate by</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for lite_keys in lista_keys_lite %}
                  <tr>
                    <td>{{lite_keys.key}}</td>
                    <td>{{lite_keys.time}} Days</td>
                    <td>{{lite_keys.user.username}}</td>
                    <td>
                        <a type="button" class="btn btn-danger btn-icon-text btn-sm" href="{% url 'admin_delete_key' lite_keys.id %}">Delete</a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Semi-Rage version</h4>
                  <p class="card-description"> Generate keys for Semi-Rage version </p>
                  <form class="forms-sample" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="exampleInputUsername1">Key Prefix</label>
                      <input name="semirage_prefix" type="text" class="form-control" id="exampleInputUsername1" placeholder="Prefix. Example: DAY, WEEK ...">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1">Key time</label>
                      <input name="key_semirage" type="text" class="form-control" id="exampleInputEmail1" placeholder="Time (DAYS) of sub*">
                    </div>
                    <button name="gen_semirage" type="submit" class="btn btn-primary me-2">Generate key</button>
                  </form>
                </div>
              </div>
            </div>
           </div>
           <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title">User Tab</h4>
                <p class="card-description"> See all users
                </p>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Key</th>
                        <th>Time</th>
                        <th>Generate by</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for semi_keys in lista_keys_semirage %}
                      <tr>
                        <td>{{semi_keys.key}}</td>
                        <td>{{semi_keys.time}} Days</td>
                        <td>{{semi_keys.user.username}}</td>
                        <td>
                            <a type="button" class="btn btn-danger btn-icon-text btn-sm" href="{% url 'admin_delete_key' semi_keys.id %}">Delete</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            </div>
            <div class="row">
                <div class="col-md-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Full Rage version</h4>
                      <p class="card-description"> Generate keys for Full Rage version </p>
                      <form class="forms-sample" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                          <label for="exampleInputUsername1">Key Prefix</label>
                          <input name="rage_prefix" type="text" class="form-control" id="exampleInputUsername1" placeholder="Prefix. Example: DAY, WEEK ...">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Key time</label>
                          <input name="key_rage" type="text" class="form-control" id="exampleInputEmail1" placeholder="Time (DAYS) of sub*">
                        </div>
                        <button name="gen_rage" type="submit" class="btn btn-primary me-2">Generate key</button>
                      </form>
                    </div>
                  </div>
                </div>
               </div>
               <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">User Tab</h4>
                    <p class="card-description"> See all users
                    </p>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Key</th>
                            <th>Time</th>
                            <th>Generate by</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for rage_keys in lista_keys_rage %}
                          <tr>
                            <td>{{rage_keys.key}}</td>
                            <td>{{rage_keys.time}} Days</td>
                            <td>{{rage_keys.user.username}}</td>
                            <td>
                                <a type="button" class="btn btn-danger btn-icon-text btn-sm" href="{% url 'admin_delete_key' rage_keys.id %}">Delete</a>
                            </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                

    

{% endblock %}